.div1{
    background-color: aliceblue;
    width: 500px;
    height: 500px;
    position: center;
}

.details{
    background-color: aqua;
}
.itemsdisplay{
    display: flex;
    padding: 5px;
    margin: 10px;
    text-underline-offset: 2px solid black;
    background-color: aliceblue;
    text-underline-position: below;
    
}
.check{
    background-color: aquamarine;
    -webkit-text-decoration-line: line-through; /* Safari */
   text-decoration-line: line-through
}
.cross{
    background-color: red;
}